<tr>
  <td><%= link_to "#{user.first_name} #{user.last_name}", edit_user_path(user), class: "nav-link" %></td>
  <td><%= user.email %></td>
  <td>
    <%= user.last_logged_in.present? ?
    user.last_logged_in.strftime("%B #{user.last_logged_in.day.ordinalize} %-I:%M%P") :
    "---" %>
  </td>
</tr>