:root {
  --main-color: #193856;
  --hover-color: #052748;
  --delete-color: #a8504b;
  --delete-hover-color: #964642;
  --bargraph-avg-color: #1472ac;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand';
}

th.stick {
  background-color: white;
  cursor: pointer;
  position: sticky;
  text-align: center;
  top: 0; 
}

th, td {
  text-align: center;
  width: 100px;
}

th:hover {
  cursor: pointer;
}

#alertContainer {
  position: fixed;
  right: 50%;
  top: .25em;
  transform: translateX(50%);
  z-index: 9999;
}

#alertContainerUnauthenticated {
  position: absolute;
  top: 10px;
}

#content-main {
  height: calc(100vh - 142px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#content-search {
  flex: 1;
  margin-right: 5px;
  box-shadow: 0 .05rem .05rem rgba(0, 0, 0, 0.05) !important;
}

#deleteModalDialog {
  margin-right: 600px;
}

#nav-sidebar {
  position: fixed;
  top: 0;                     
  left: 0;
  width: 250px;
  height: 100dvh;             
  max-width: 250px;
  min-width: 250px;
  background-color: var(--main-color);
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 9999;
}

#nav-sidebar .list-group-item {
  background-color: var(--main-color); 
  border: none;
  padding: 0;
}  

#nav-sidebar .sidebar-nav-link {
  color: white;
  display: block;
  font-size: 16px;
  padding: 15px 20px;
  text-decoration: none;
}

#nav-sidebar .sidebar-nav-link:hover, .sidebar-nav-link.active {
  background-color: var(--hover-color);
  color: white !important;
}

#overlay {
  display: none;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
}

#recordCount{
  margin-top: auto;
  text-align: center;
}

#spinner{
  z-index: 9999; 
  width: 100px; 
  height: 100px;
  color: var(--main-color);
}

#sales-chart {
  flex: 1;
  width: 100%;
  min-height: 0;
  height: calc(100vh - 155px);
  overflow-x: auto !important;
  overflow-y: hidden;
}

.authenticated {
  background: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.authenticated, .unauthenticated {
  height: 100%; 
  overflow: hidden;
}

.brand {
  font-family: 'Handjet';
}

.bi-calendar3 {
  color: var(--main-color) !important;
}

.bootstrap-select > .dropdown-toggle,
.bootstrap-select > .dropdown-toggle:focus,
.bootstrap-select > .dropdown-toggle:hover
{
  background-color: #e3e7ebff !important;
}

.bootstrap-select.filter-select .dropdown-menu.inner {
  max-height: 300px;
  overflow-y: auto !important;
}

.bootstrap-select .dropdown-menu li a span.check-mark {
  color: var(--main-color) !important;
}

.btn-delete {
  background-color: var(--delete-color);
  color: white !important;
}

.btn-delete:hover,
.btn-delete:focus,
.btn-delete:active{
  background-color: var(--delete-hover-color) !important;
  color: white !important;
}

.btn-main {
  background-color: var(--main-color) !important;
  color: white !important;
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active{
  background-color: var(--hover-color) !important;
  color: white !important;
}

.btn-left {
  margin-left: 5px;
  margin-top: 10px;
}

.btn-right {
  margin-right: 5px; 
  margin-top: 10px;
}

.custom-modal {
  max-height: 90vh;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkmark {
  background-color: transparent;
  border: 1px solid var(--main-color) !important;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-top: 7px;
  position: relative;
  width: 20px;
}

.custom-checkbox .checkmark:after {
  border: solid white;
  border-width: 0 3px 3px 0;
  content: "";
  display: none;
  height: 10px;
  left: 6px;
  position: absolute;
  top: 3px;
  transform: rotate(45deg);
  width: 6px;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: var(--main-color);
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark:after {
  display: block;
}

.dashboard-content {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td span.active, .datepicker table tr td span.active:hover, .bootstrap-select .dropdown-menu li a:active {
  background-image: none;
  background-color: var(--main-color) !important;
}

.dropdown-item.nav-link:focus,
.dropdown-item.nav-link:active,
.dropdown-item.nav-link.active {
  background-color: inherit;
  box-shadow: none;
  color: inherit;
  outline: none;
}

.dropdown-item.nav-link:focus-visible {
  outline: none;
}

.form-container {
  max-width: 450px;
  width: 100%;
}

.form-container h4 {
  margin-bottom: 20px;
  text-align: center;
}

.form-section {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 20px;
  position: relative;
}

input.form-control.datepicker {
  height: 38px;               
  padding: 6px 12px;         
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5;
}

.list-group-item {
  border: none;
  text-align: center;
}

.logo {
  width: 230px;
  margin-top: 10px;
}

.main-content {
  scrollbar-width: none;
  padding-top: 70px;          
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;              
  overflow-x: hidden;
  overflow-y: hidden;           
}

.main-content::-webkit-scrollbar {
  display: none;
}

.modal-content {
  width: 750px !important;
}

.nav-link, .nav-link:visited {
  color: var(--main-color);
}

.nav-link:hover {
  color: var(--hover-color);
}

.scrollable-table {
  max-height: 85vh;
}

.scrollable-form {
  flex-grow: 1;
}

.scrollable-form, .scrollable-table {
  overflow-y: auto;
  scrollbar-width: none;
}

.search-form {
  height: 40px;
  margin-top: 5px;
  max-width: 300px;
  width: 100%;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: var(--main-color) !important;
  color: white !important;
}

.select2-container--default .select2-selection--single {
  height: 38px;
  padding: 6px 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 24px;
}

.show-scrollbar {
  overflow-y: auto !important;
  scrollbar-width: auto !important;              
}

.unauthenticated {
  display: flex;
  height: 100vh;
}

@media (max-width: 767.98px) {
  .custom-modal {
    margin-left: 250px !important;
    margin-right: auto !important;
  }
}

@media(max-height: 650px){
  .custom-modal{
    max-height: 80vh !important;
  }

  .scrollable-table {
    max-height: 75vh !important;
  }

  .main-content-row {
    max-height: calc(100vh - 79px);
    display: flex;
  }

  .left-col,
  .right-col {
    display: flex;
    flex-direction: column;
  }

  .left-col .card:last-child,
  .right-col .card {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .dashboard-content {
    height: calc(100vh - 155px);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }

  #deleteModalDialog {
    margin-right: 270px;
  }

  #sales-chart {
    flex: 1;
    width: 100%;
    min-height: 0;
    height: calc(100vh - 145px);
    overflow-x: auto !important;
    overflow-y: hidden;
  }
}  