<p>Hello, <%= @resource.first_name %></p>

<p>Here is a link to change your Smith & Davis Sales App password</p>

<p><%= link_to 'Change password', edit_password_url(@resource, reset_password_token: @token) %></p>